body {
    font-family: sans-serif;
}

.action-container {
    padding: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 420px;
    margin: 30px auto;
}

h2 {
    text-align: center;
}

button {
    border: 0;
    background: #3867d6;
    padding: 6px 12px;
    height: 34px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.canvas-input {
    margin-top: 30px;
    visibility: hidden;
}

.canvas-input select {
    width: 180px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
    height: 34px;
    margin-right: 15px
}

#canvas-container {
    text-align: center;
}

#canvas-container .canvas-area {
    border: 1px solid #ccc;
    margin: 16px;
}

#infoText {
    font-size: 16px;
    text-align: center;
}

.canvas-container {
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}